
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h4 class="panel-title">Filter<i class="fa fa-filter pull-right" aria-hidden="true"></i></h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="form-group"><input class="form-control" id="" name="" placeholder="Form Number" type="text" value=""></div>
                        <div class="form-group"><input class="form-control" id="" name="" placeholder="Customer Name" type="text" value=""></div>
                        <div class="form-group"><input class="form-control" id="" name="" placeholder="Customer Phone" type="text" value=""></div>
                        <div class="form-group">
                            <select class="form-control" id="sel1">
                                <option>Choose Brand</option>
                                <option>General Mobile</option>
                                <option>Other Brand 1</option>
                                <option>Other Brand 2</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="sel1">
                                <option>Choose Model</option>
                                <option>General Mobile GM 4G</option>
                                <option>General Mobile GM 5</option>
                                <option>General Mobile GM 5 Plus</option>
                                <option>General Mobile GM 6</option>
                            </select>
                        </div>
                        <div class="form-group"><input class="form-control" id="name" name="name" placeholder="Serial Number" type="text" value=""></div>
                    </div>
                </div>
                <div class="panel-footer text-right">
                    <a href="" class="btn btn-primary btn-block">Filter</a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h4 class="panel-title">Tracking</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Form Number</th>
                                    <th>Customer Name</th>
                                    <th>Customer Phone</th>
                                    <th>Brand</th>
                                    <th>Model</th>
                                    <th>Serial Number</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>03012</td>
                                    <td>John Aloko</td>
                                    <td>+905332321111</td>
                                    <td>General Mobile</td>
                                    <td>GM 5</td>
                                    <td>32178221821</td>
                                </tr>
                                <tr>
                                    <td>03013</td>
                                    <td>John Moe</td>
                                    <td>+905332321111</td>
                                    <td>General Mobile</td>
                                    <td>GM 4G</td>
                                    <td>32178221220</td>
                                </tr>
                                <tr>
                                    <td>03014</td>
                                    <td>July Dooley</td>
                                    <td>+905332321111</td>
                                    <td>General Mobile</td>
                                    <td>GM 5 Plus</td>
                                    <td>32178221219</td>
                                </tr>
                                <tr>
                                    <td>03012</td>
                                    <td>John Aloko</td>
                                    <td>+905332321111</td>
                                    <td>General Mobile</td>
                                    <td>GM 5</td>
                                    <td>32178221821</td>
                                </tr>
                                <tr>
                                    <td>03013</td>
                                    <td>John Moe</td>
                                    <td>+905332321111</td>
                                    <td>General Mobile</td>
                                    <td>GM 4G</td>
                                    <td>32178221220</td>
                                </tr>
                                <tr>
                                    <td>03014</td>
                                    <td>July Dooley</td>
                                    <td>+905332321111</td>
                                    <td>General Mobile</td>
                                    <td>GM 5 Plus</td>
                                    <td>32178221219</td>
                                </tr>
                                <tr>
                                    <td>03012</td>
                                    <td>John Aloko</td>
                                    <td>+905332321111</td>
                                    <td>General Mobile</td>
                                    <td>GM 5</td>
                                    <td>32178221821</td>
                                </tr>
                                <tr>
                                    <td>03013</td>
                                    <td>John Moe</td>
                                    <td>+905332321111</td>
                                    <td>General Mobile</td>
                                    <td>GM 4G</td>
                                    <td>32178221220</td>
                                </tr>
                                <tr>
                                    <td>03014</td>
                                    <td>July Dooley</td>
                                    <td>+905332321111</td>
                                    <td>General Mobile</td>
                                    <td>GM 5 Plus</td>
                                    <td>32178221219</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel-footer text-center">
                    <ul class="pagination">
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
</div>