@{
    ViewBag.Title = "Home Page";
}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <h2 class="text-right"><i class="fa fa-level-up" aria-hidden="true"></i></h2>
                <h3>Welcome to servisPoint</h3>
                <p>Choose item from menu</p>
            </div>
        </div>
    </div>