
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h3 class="text-center">service<strong style="color:#08c">Point</strong></h3>
            <br>
            <div class="panel panel-clean">
                <div class="panel-body">
                    <div class="form-group"><input class="form-control" id="" name="" placeholder="Username" type="text" value=""></div>
                    <div class="form-group"><input class="form-control" id="" name="" placeholder="Password" type="text" value=""></div>
                </div>
            </div>
            <div class="form-group text-center"><button class="btn btn-primary btn-lg btn-block" type="submit"> Sign In <i class="fa fa-arrow-right" aria-hidden="true"></i></button></div>
        </div>
    </div>
</div>